/build/
/kernel/linux/
/kernel/cc-runtime/
/kernel/limine-protocol/
/kernel/freestnd-c-hdrs/
/kernel/bin-*/
/kernel/obj-*/
/doomgeneric/
/limine/
/toolchain/
/edk2-ovmf/
/AetherDE/
/assets/minecraft.jar
/assets/game.unx
/assets/assets
*.d
*.elf
*.o
*.a
*.bin
*.iso
*.img
*.qcow2
*.raw
*.vdi
*.vmdk

# Python bytecode caches
__pycache__/
